<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lazada Layout</title>

  <link rel="stylesheet" href="styles/style-store.css" type="text/css">
</head>
<body>
  <a href="https://www.lazada.co.th" target="_blank">Based on Lazada's Page</a>
  <header>
    <div class="user-menu-wrapper">
      <div class="user-menu container">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>  
    </div>    
    <div class="utility-menu container">
      <div class="logo"></div>
      <div class="search-bar"></div>
      <div class="cart"></div>
      <div class="wallet"></div>
    </div>
  </header>
  <div class="promotion-wrapper">
    <div class="promotion container">
      <div class="category">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="promo-pic"></div>
    </div>
  </div>
  <div class="capsule-menu container">
    <div><div class="capsule-icon"></div><div class="capsule-name"></div></div>
    <div><div class="capsule-icon"></div><div class="capsule-name"></div></div>
    <div><div class="capsule-icon"></div><div class="capsule-name"></div></div>
    <div><div class="capsule-icon"></div><div class="capsule-name"></div></div>
  </div>
  <div class="flash-sale container">
    <div class="sale-heading"></div>
    <div class="detail-bar">
      <div class="left-side">
        <div></div>
        <div></div>
      </div>
      <div class="right-side">
        <div></div>
      </div>
    </div>
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> 
  <div class="most-popular container">
    <div class="sale-heading"></div>
    <!-- Grid -->
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="collections container">
    <div class="sale-heading-flex">
      <div class="sale-heading"></div>
      <div class="show-more"></div>
    </div>  
    <!-- Grid -->
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="laz-mall container">
    <div class="sale-heading-flex">
      <div class="sale-heading"></div>
      <div class="show-more"></div>
    </div> 
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="global-collection container">
    <div class="sale-heading-flex">
      <div class="sale-heading"></div>
      <div class="show-more"></div>
    </div>
    <!-- Grid -->
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="category-sale container">
    <div class="sale-heading"></div>
    <!-- Grid -->
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="just-for-you container">
    <div class="sale-heading"></div>
    <div class="item-group">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="load-more container">
    <div></div>
  </div>
  <div class="credits-card container">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!-- Grid -->
  <div class="footer-links container">
    <div class="links-list">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="links-list">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="apps-list">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Grid -->
  <div class="certificate-wrapper">
    <div class="certificate container">
      <div class="payment-methods">
        <div class="certificate-heading"></div>
        <div class="pics">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="delivery-services">
        <div class="certificate-heading"></div>
        <div class="pics">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="verified-by">
        <div class="certificate-heading"></div>
        <div class="pics">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Grid -->
  <div class="about container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!-- Grid -->
  <div class="footer-wrapper">
    <footer class="container">
      <div class="region">
        <div class="footer-heading"></div>
        <div class="pics">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="social-media-copyright-group">
        <div class="social-media">
          <div class="footer-heading"></div>
          <div class="pics">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="footer-heading"></div>
      </div>
    </footer>
  </div>
  <div class="chat-box">
    <div></div>
  </div>
</body>
</html>