<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pantip Layout</title>

  <link rel="stylesheet" href="styles/style-webboard.css" type="text/css">
</head>
<body>
  <a href="https://pantip.com/" target="_blank">
    อ้างอิงโครงสร้างจากเพจ Pantip
  </a>
  <header>
    <nav>
      <div>หน้าแรก</div>
      <div>เลือกห้อง &#9662;</div>
      <div>แท็ก</div>
      <div>กิจกรรม</div>
      <div>อื่นๆ &#9662;</div>
      <div class="search-bar"><input type="search" placeholder="ค้นหา"></div>
      <div>ตั้งกระทู้</div>
      <div>เข้าสู่ระบบ / สมัครสมาชิก</div>
    </nav>
  </header>
  <div class="timeline-wrapper">
    <div class="timeline">
      <div class="ads-banner"></div>
      <div class="top-stories">
        <div class="arrow">&lt;</div>
        <div class="story">
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing.</div>
        </div>
        <div class="story">
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing.</div>
        </div>
        <div class="story">
          <div>Lorem ipsum dolor sit, amet consectetur adipisicing.</div>
        </div>
        <div class="arrow">&gt;</div>
      </div>
      <div class="flex-group">
        <div class="board-feed">
          <div class="heading-bar">
            <div class="active">Pantip Now</div>
            <div>Pantip Pick</div>
            <div>Pantip Trend</div>
            <div>My Feed</div>
          </div>
          <div class="feeds">
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <div>
              <div class="image-wrapper">
                <div class="image"></div>
              </div>
              <div class="text">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p class="summary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consectetur inventore id earum voluptatum, at nostrum iusto velit quidem voluptatem?</p>
                <p class="poster">Lorem, ipsum dolor.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="side-group">
          <div class="popular-tags default-border">
            <h2>แท็กยอดนิยม</h2>
            <div>
              <div class="tag-wrapper">
                <div class="tag">Lorem.</div>
                <div class="counter">Lorem ipsum dolor sit.</div>
              </div>
              <div class="follow">ติดตาม</div>
            </div>
            <div>
              <div class="tag-wrapper">
                <div class="tag">Lorem.</div>
                <div class="counter">Lorem ipsum dolor sit.</div>
              </div>
              <div class="follow">ติดตาม</div>
            </div>
            <div>
              <div class="tag-wrapper">
                <div class="tag">Lorem.</div>
                <div class="counter">Lorem ipsum dolor sit.</div>
              </div>
              <div class="follow">ติดตาม</div>
            </div>
            <div>
              <div class="tag-wrapper">
                <div class="tag">Lorem.</div>
                <div class="counter">Lorem ipsum dolor sit.</div>
              </div>
              <div class="follow">ติดตาม</div>
            </div>
            <div>
              <div class="tag-wrapper">
                <div class="tag">Lorem.</div>
                <div class="counter">Lorem ipsum dolor sit.</div>
              </div>
              <div class="follow">ติดตาม</div>
            </div>
          </div>
          <div class="rooms default-border">
            <h2>เลือกห้อง</h2>
            <div class="grid-container">
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
              <div>
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div>Lorem, ipsum.</div>
                </div>
              </div>
            </div>        
          </div>
          <div class="information default-border">
            <div>ข่าวประชาสัมพันธ์</div>
          </div>
          <div class="family-sites">
            <h2>เว็บไซต์ในเครือ</h2>
            <div class="sites">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="movie-releases">
            <div class="heading-image"></div>
            <div class="bordered-group">
              <div class="see-all-1">ดูทั้งหมด &raquo;</div>
              <div class="movie">
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div class="rating"></div>
                </div>
              </div>
              <div class="movie">
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div class="rating"></div>
                </div>
              </div>
              <div class="movie">
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div class="rating"></div>
                </div>
              </div>
              <div class="movie">
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div class="rating"></div>
                </div>
              </div>
              <div class="movie">
                <div class="image-wrapper">
                  <div class="image"></div>
                </div>
                <div class="text">
                  <h3>Lorem.</h3>
                  <div class="rating"></div>
                </div>
              </div>
              <div class="see-all-2">&#9660; แสดงทั้งหมด &#9660;</div>
            </div>
          </div>
          <div class="side-ads"></div>
          <div class="legal-links">
            <div>กฏกติกา</div>
            <div>ติดต่อทีมงาน</div>
            <div>ลงโฆษณา</div>
            <div>สมัครงาน</div>
          </div>
          <div class="social-links">
            <div class="facebook"></div>
            <div class="twitter"></div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</body>
</html>